.outro{
    align-items: center;
}

.trocar-senha, .login{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.trocar-senha{
    margin: auto 0;
}

.botao{
    margin-bottom: 16px;
}

.ancora{
    margin-left: 5px;
    transition: transform 200ms, color 200ms;
    color: blue;
}

.ancora:hover{
    transform: translateY(-3px);
    color: lightblue;
}

.erro{
    color: red;
}

.sucesso{
    color: green;
}

.rec-key{
    font-weight: bold;
}

@media(max-width: 216px){
    .info{
        display: none;
    }
}