.outro{
    align-items: center;
}

.login, .cadastro, .trocar-senha{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botao{
    margin-bottom: 16px;
}

.ancora{
    transition: transform 200ms, color 200ms;
    color: blue;
}

.ancora:hover{
    transform: translateY(-3px);
    color: lightblue;
}

.erro{
    color: red;
}

.sucesso{
    color: green;
}