/*https://paletadecores.com/paleta/73c8a9/dee1b6/e1b866/bd5532/373b44/*/

body{
  margin: 0;
  background-color: #dee1b6;
}

main, footer{
  display: flex;
  color: #373b44;
}

header{ /*o header ficará colado ao topo da tela*/
  position: fixed;
  min-width: 100vw;
  top: 0;
}

header, footer{
  background-color: #73c8a9;
  color: #373b44; /*cor do texto*/
  z-index: 1;
  border: 1px solid #373b44;
}

main{
  flex-direction: column;
  min-height: 100vh;
  margin-top: 64px; /*compensa o header*/
}

footer{ /*o footer aparecerá somente ao descer a tela*/
  justify-content: center;
  margin-top: auto;
}

ul{
  list-style: none;
}

input{
  border-radius: 10px;
}