body{
  margin: 0;
}

main, footer{
  display: flex;
}

header{ /*o header ficará colado ao topo da tela*/
  position: fixed;
  min-width: 100vw;
  top: 0;
}

header, footer{
  background-color: black;
  color: white; /*cor do texto*/
}

main{
  flex-direction: column;
  min-height: 100vh;
  margin-top: 52px; /*compensa o header*/
}

footer{ /*o footer aparecerá somente ao descer a tela*/
  justify-content: center;
  margin-top: auto;
}