/*gambiarra a gente aceita, a gente só não aceita a derrota!*/

.navbar{
    display: flex;
    justify-content: space-between;
    height: 64px
}

.lista{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.opcao{
    margin: 0 10px;
    transition: transform 200ms;
}

.opcao:hover{
    transform: translateY(3px);
}

.ancora{
    color: #bd5532;
    text-decoration: none;
    transition: color 200ms;
}

.ancora:hover{
    color: #e1b866;
    text-decoration: underline;
}

.home{
    height: 64px;
    width: 250px;
    padding-left: 32px;
}

.logo{
    height: 64px;
    width: 250px;
}

.logo-alt{
    height: 64px;
    width: 75px;
}

.login-register, .login-register-alt{
    display: flex;
    align-items: center;
    padding-right: 32px;
}

.hamburguer{
    color: #bd5532;
    background: rgba(0, 0, 0, 0);
    border: none;
    transition: color 200ms, transform 200ms;
}

.hamburguer:hover{
    transform: scale(1.25);
    color: #e1b866;
}

@media(min-width: 720px){
    .login-register-alt{
        display: none;
    }

    .logo-alt{
        display:none;
    }
}

@media(max-width: 720px){
    .login-register{
        display: none;
    }

    .login-register-alt{
        margin-left: auto;
    }

    .lista{
        position: fixed;
        top: 72px;
        right: 8px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 4px;
        background-color: #73c8a9;
        border: 1px solid #373b44;
    }

    .opcao{
        transition: transform 200ms;
    }
    
    .opcao:hover{
        transform: translateX(3px);
    }

    .logo{
        display: none;
    }
}